.input {
    width: 100%;
}

.input input {
    margin: 0 0 10px 0;
    height: 50px;
    width: 100%;
    font-size: 19px;
    box-shadow: none;
    box-sizing: border-box;
    font-family: 'Pathway Gothic One', sans-serif;
    text-transform: uppercase;
}

.field {
    border: 1px solid #DEDEDE;
    padding: 0 0 0 10px;
}

.button {
    color: white;
    font-weight: bold;
    border: none;
    background-color: #07d078;
    transition: background-color, 0.5s
}

.button:hover{
    background-color: #08dd81;
}



#login_container {
      font-family: 'Pathway Gothic One', sans-serif;
    text-transform: uppercase;
    height: 600px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#login {
    margin: 0 auto;
    width: 350px;
}
