#nav-site {
    display: flex;
    justify-content: center;
    height: 100px;
    background-color: #333;
}

.nav-container {
    display: flex;
    align-items: center;
    max-width: 80%;
    flex-grow: 1;
}

.nav-item.nav-right {
    margin-left: auto;
}

/* Push nav-right items together */
.nav-right + .nav-right {
    margin-left: 30px;
}

.nav-item {
    position: relative; /* For hover effect */
    height: 100px;
    flex-basis: 150px;
    font-size: 19px;
    font-weight: 500;
    text-align: center;
    line-height: 105px;
    font-family: 'Pathway Gothic One', sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    color: silver;
    transition: color, background-color 0.3s; /* Gets prefixed by build pipeline */
}

.nav-item:hover, .nav-item:focus {
    color: white;
    background-color: #383838;
}

.login{
    height: 65px;
    line-height:67px;
    color: white;
    background-color: #07d078;
}

.login:hover, .login:focus {
    color: white;
    background-color: #08dd81;
}

.login::after{
    background: transparent !important;
}


/*.nav-item-norm:hover {*/
    /*color: white;*/
/*}*/

.nav-item::after {
    position: absolute;
    background: #07d078;
    content: '';
    bottom: 0;
    height: 0;
    left: 0;
    width: 100%;
    transition: height 300ms;
}

.nav-item:hover::after, .nav-item:focus::after {
    height: 5px;
}

/* For hover effect */
/*.nav-item-norm::after {*/
    /*position: absolute;*/
    /*background: #07D078;*/
    /*content: '';*/
    /*bottom: 5px;*/
    /*left: 50%;*/
    /*transform: translate(-50%, 0);*/
    /*width: 75%;*/
/*}*/


#nav-logo {
    /* Filling in for logo */
    width: 45px;
    height: 41px;
    background-color: #07D078;
    border-radius: 50%;
    /* End of filling in for logo */
}

#nav-brand {
    margin-left: 15px;
}

/*#nav-signup {*/
    /*padding: 9px 26px;*/
    /*border: 1px solid #07D078;*/
    /*box-shadow: none;*/
    /*background-color: #333;*/

    /*color: #07D078;*/
    /*font-size: 13px;*/
/*}*/

/*#nav-signup:hover {*/
    /*background-color: #07D078;*/

    /*color: white;*/
/*}*/